<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunxu.dao.DataSourceMapper">
  <resultMap id="BaseResultMap" type="com.sunxu.entity.DataSource">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="display_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="issue" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="result" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="figure" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="publish_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="nextIssue" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="nextTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="category_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="missed" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="currentTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, display_name, issue, result, figure, publish_time, nextIssue, nextTime, 
    category_id, missed, currentTime, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from data_source
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from data_source
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sunxu.entity.DataSource">
    insert into data_source (id, name, display_name, 
      issue, result, figure, 
      publish_time, nextIssue, nextTime, 
      category_id, missed, currentTime, 
      createTime)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{displayName,jdbcType=VARCHAR}, 
      #{issue,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR}, #{figure,jdbcType=VARCHAR}, 
      #{publishTime,jdbcType=TIMESTAMP}, #{nextissue,jdbcType=VARCHAR}, #{nexttime,jdbcType=TIMESTAMP}, 
      #{categoryId,jdbcType=INTEGER}, #{missed,jdbcType=VARCHAR}, #{currenttime,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sunxu.entity.DataSource">
    insert into data_source
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="displayName != null">
        display_name,
      </if>
      <if test="issue != null">
        issue,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="figure != null">
        figure,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
      <if test="nextissue != null">
        nextIssue,
      </if>
      <if test="nexttime != null">
        nextTime,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="missed != null">
        missed,
      </if>
      <if test="currenttime != null">
        currentTime,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null">
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="issue != null">
        #{issue,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="figure != null">
        #{figure,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nextissue != null">
        #{nextissue,jdbcType=VARCHAR},
      </if>
      <if test="nexttime != null">
        #{nexttime,jdbcType=TIMESTAMP},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="missed != null">
        #{missed,jdbcType=VARCHAR},
      </if>
      <if test="currenttime != null">
        #{currenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunxu.entity.DataSource">
    update data_source
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null">
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="issue != null">
        issue = #{issue,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="figure != null">
        figure = #{figure,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null">
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nextissue != null">
        nextIssue = #{nextissue,jdbcType=VARCHAR},
      </if>
      <if test="nexttime != null">
        nextTime = #{nexttime,jdbcType=TIMESTAMP},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="missed != null">
        missed = #{missed,jdbcType=VARCHAR},
      </if>
      <if test="currenttime != null">
        currentTime = #{currenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunxu.entity.DataSource">
    update data_source
    set name = #{name,jdbcType=VARCHAR},
      display_name = #{displayName,jdbcType=VARCHAR},
      issue = #{issue,jdbcType=VARCHAR},
      result = #{result,jdbcType=VARCHAR},
      figure = #{figure,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      nextIssue = #{nextissue,jdbcType=VARCHAR},
      nextTime = #{nexttime,jdbcType=TIMESTAMP},
      category_id = #{categoryId,jdbcType=INTEGER},
      missed = #{missed,jdbcType=VARCHAR},
      currentTime = #{currenttime,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>