<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunxu.dao.DataSourceMapper">
	<insert id="insertDataResult" parameterType="java.util.List">
		insert into data_result(issue,digit,result,create_date)
		VALUES
		<foreach collection="list" index="index" item="item"
			separator=",">
			(
			#{item.issue},
			#{item.digit},
			#{item.result},
			#{item.createDate}
			)
		</foreach>
	</insert>
	<select id="getDataSource" resultType="com.sunxu.entity.DataSource">
		SELECT
		result.issue,
		result.`first`
		FROM
		( SELECT * FROM data_source_pro ORDER BY `timestamp`
		DESC LIMIT 0,
		${issue} ) result
		ORDER BY
		result.issue
	</select>
	<select id="getContinuousDataSource" resultType="com.sunxu.vo.DataSourceVo">
		call
		getContinuousDataSource(#{str},${issue})
	</select>
	<select id="getNotContinuousDataSource" resultType="com.sunxu.vo.DataSourceVo">
		call
		getNotContinuousDataSource(#{str},${issue})
	</select>
	<select id="getCurrentNotContinuousDataSource" resultType="com.sunxu.vo.DataSourceVo">
		call
		getCurrentNotContinuousDataSource(#{str},${issue})
	</select>
</mapper>