<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunxu.dao.HistoryInfoMapper">
	<select id="getDataSourceByType" resultType="com.sunxu.entity.HistoryInfo">
		SELECT
		*
		FROM
		history_info
		WHERE
		type = #{type}
		ORDER BY
		create_time desc
	</select>
	<select id="selectCountByType" resultType="java.lang.Integer">
		select count(*) from
		history_info
		WHERE
		type = #{type}
	</select>
</mapper>